<!-- <div class="details-card">
  <h3>Product Details</h3>

  <p><b>Id:</b> {{ product.id }}</p>
  <p><b>Name:</b> {{ product.name }}</p>
  <p><b>Description:</b> {{ product.description }}</p>
  <p><b>Cost:</b> {{ product.cost | number:'1.1-1'}}</p>

  <p>
    <b>Quantity:</b>
    <input
      type="number"
      [(ngModel)]="editableQuantity"
      (ngModelChange)="onQuantityChange()"
      min="1"
    />
  </p>

  <p><b>Rating:</b> {{ product.rating }}</p>

  <button
    (click)="updateQuantity()"
    [disabled]="!isUpdated">
    Update
  </button>
</div> -->
