<div class="container mt-4">

  <h3 class="text-center mb-4">Product Management 🛒 </h3>

  <form [formGroup]="searchForm" class="row g-3 justify-content-center mb-3">

    <!-- Search by ID -->
    <div class="col-md-3">
      <input
        class="form-control"
        placeholder="Search by ID"
        formControlName="productId"
      />

      <div
        class="text-danger small mt-1"
        *ngIf="
          searchForm.controls.productId.invalid &&
          (searchForm.controls.productId.dirty ||
           searchForm.controls.productId.touched)
        "
      >
        Enter only numbers
      </div>

      </div>

      <!-- Search by Name -->
      <div class="col-md-3">
      <input
        class="form-control"
        placeholder="Search by Name"
        formControlName="productName"
        appUppercase
      />
    </div>

    <div class="col-md-2 d-grid">
      <button
        class="btn btn-primary"
        type="button"
        (click)="resetFilter()"
      >
        Reset
      </button>
    </div>

  </form>

  <div class="text-center mb-3">
    <button class="btn btn-success px-4" (click)="addProduct()">
      ➕ Add Product
    </button>
  </div>

  <ag-grid-angular
    class="ag-theme-alpine"
    style="width: 100%; height: 520px;"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [getRowId]="getRowId"
    (gridReady)="onGridReady($event)"
    (rowClicked)="onRowClicked($event)">
  </ag-grid-angular>
</div>
